$color-texto: #707070;
$color-texto-link: #303030;
$color-texto-destaque: #000;
$font-texto: 'Roboto', 'Helvetica', sans-serif;
$color-link: #005180;
$color-link-hover:#002337;

//breakpoints
$desktop: 768px;
$mobile-only: 767.999px;